.spitai-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}

.spitai-video {
  width: 100%;
  max-width: 387px;
  height: auto;
  margin: auto;
  position: relative;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .spitai-video {
    width: 90%; /* Adjust the width on smaller screens */
  }
}
